<section class="fullwidth_section no_padding_top_container dark_section" id="contacto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                <div class="sc_contact_form sc_contact_form_standard">
                                    <div class="sc_contact_form_left">
                                        <div class="sc_contact_info">
                                            <h6 class="sc_contact_form_subtitle">RootsTrade</h6>
                                            <h2 class="sc_contact_form_title">Contacto</h2>
                                            <div class="sc_contact_form_address_wrap">
                                                <div class="sc_contact_form_address_field">
                                                    <span class="sc_contact_form_address_data">
                                                        <b>Representante Comercial</b>
                                                        <br>Maximiliano Camiruaga<br>
                                                        <b>Dirección</b>
                                                        <br>18 de Septiembre 998.<br>
                                                        <b>Ciudad</b>
                                                        <br>Chillán
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_contact_info_bottom">
                                            <div class="sc_contact_form_address_wrap">
                                                <div class="sc_contact_form_address_field">
                                                    <span class="sc_contact_form_address_label">tel.: </span>
                                                    <span class="sc_contact_form_address_data">+569 53333880</span>
                                                </div>
                                                <div class="sc_contact_form_address_field">
                                                    <span class="sc_contact_form_address_label">e-mail: </span>
                                                    <span class="sc_contact_form_address_data">max@rootstrade.com</span>
                                                </div>
                                            </div>
                                            <div class="sc_socials sc_socials_size_small  color_icons">
                                                <div class="sc_socials_item">
                                                    <a href="https://twitter.com/Theme_REX" target="_blank" class="social_icons social_twitter icons">
                                                        <span class="icon-twitter"></span>
                                                        <span class="sc_socials_hover icon-twitter"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="https://www.facebook.com/themerex" target="_blank" class="social_icons social_facebook icons">
                                                        <span class="icon-facebook"></span>
                                                        <span class="sc_socials_hover icon-facebook"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="https://plus.google.com/102189073109602153696" target="_blank" class="social_icons social_gplus icons">
                                                        <span class="icon-gplus"></span>
                                                        <span class="sc_socials_hover icon-gplus"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_linkedin icons">
                                                        <span class="icon-linkedin"></span>
                                                        <span class="sc_socials_hover icon-linkedin"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_contact_form_right">
                                        <p class="sc_contact_form_description">Su dirección de correo electrónico no será publicada. Los campos obligatorios están marcados *</p>
                                        <form data-formtype="contact" method="post" action="#">
                                            <div class="sc_contact_form_info">
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_username">Nombre</label>
                                                    <input id="sc_contact_form_username" type="text" name="username" placeholder="Nombre">
                                                </div>
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_email">E-mail</label>
                                                    <input id="sc_contact_form_email" type="text" name="email" placeholder="Email">
                                                </div>
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_subj">Subject</label>
                                                    <input id="sc_contact_form_subj" type="text" name="subject" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_message label_over">
                                                <label class="required" for="sc_contact_form_message">Mensaje</label>
                                                <textarea id="sc_contact_form_message" name="message" placeholder="Mensaje"></textarea>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_button">
                                                <button>
                                                    Enviar
                                                    <span class="icon-mail-alt"></span>
                                                </button>
                                            </div>
                                            <div class="result sc_infobox"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
