
@import '../../../styles.scss';



.section-clients {
    background-color: #eee;
}


.cont-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;


    img {
        width: 100%;
    }
    
}

@include mq($breakpoint-lg) {
    .cont-logo {
        margin-bottom: 0;
    }
}
