<section class="fullwidth_section section-clients" id="clientes">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_content container">
                        <div class="columns_wrap">
                            <div class="col-xs-6 col-md-3">
                                <div class="cont-logo">
                                    <img src="../../../assets/img/quantec.png" alt="Quantec">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="cont-logo">
                                    <img src="../../../assets/img/antiyal.png" alt="Antiyal">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="cont-logo">
                                    <img src="../../../assets/img/trebol.png" alt="El Trébol">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="cont-logo">
                                    <img src="../../../assets/img/maref.png" alt="Maref Mining">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
