<div class="top_panel_fixed_wrap"></div>

<!--HEADER-->
<header class="top_panel_wrap">
    <div class="menu_main_wrap logo_left menu_show">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="/assets/img/logo-b.png" class="logo_main" alt="">
                    <span class="logo_info"></span>
                </a>
            </div>
            <div class="menu_main">
                <nav class="menu_main_nav_area">
                    <ul id="menu_main" class="menu_main_nav">
                        <li class="menu-item">
                            <a href="index.html">INICIO</a>
                        </li>
                        <li class="menu-item">
                            <a href="#clientes">CLIENTES</a>
                        </li>
                        <li class="menu-item">
                            <a href="#contacto">CONTACTO</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="menu_main_responsive_button icon-menu"></a>
            </div>
        </div>
    </div>
</header>  
