<section class="fullwidth_section forwarding_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_content container">
                        <div class="columns_wrap">
                            <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                <h4 class="sc_title sc_title_regular">Transporte</h4>
                                <h4 class="sc_title sc_title_regular">aéreo</h4>
                                <p>Manejamos carga general, perecibles, expresos aéreos y carga peligrosa.</p>
                                
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                <h4 class="sc_title sc_title_regular">Transporte</h4>
                                <h4 class="sc_title sc_title_regular">Marítimo</h4>
                                    <p>Embarques FCL y LCL hacia y desde todas partes del mundo.</p>
                               
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                <h4 class="sc_title sc_title_regular">Transporte</h4>
                                <h4 class="sc_title sc_title_regular">Terrestre</h4>
                                    <p>Transportamos contenedores full y carga paletizada a todo Chile y el Cono Sur.</p>
                              
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                <h4 class="sc_title sc_title_regular">Partner</h4>
                                <h4 class="sc_title sc_title_regular">en China</h4>
                                    <p>Ofrecemos los servicios de verificación de fábrica, control de calidad e inspección pre embarque. Conoce más de cada servicio</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
