<!--SLIDEBAR-->
<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_optional">
                        
    <div id="rev_slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
        <!-- START REVOLUTION SLIDER 4.6.92 fullwidth mode -->
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-simpleresponsive">
            <ul class="tp-revslider-mainul">
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli ">
                    <!-- MAIN IMAGE -->
                    <div data-bgposition="center top" data-bgfit="contain">
                        
                        <video autoplay loop>
                            <source src="/assets/video/slide-video.mp4" type="video/mp4">
                          </video>
                    </div>
                    
                </li>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli ">
                    <!-- MAIN IMAGE -->
                    <div data-bgposition="center top" data-bgfit="contain">
                        <img class="img-responsive" alt=""  src="/assets/images/slider/slide_1.png" data-src="/assets/images/slider/slide_1.png">
                    </div>
                    
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                    <!-- MAIN IMAGE class="slotholder"-->
                    <div data-bgposition="center top" data-bgfit="contain">
                        <img class="tp-bgimg defaultimg" alt="" src="/assets/images/slider/slide_2.png" data-src="/assets/images/slider/slide_2.png">
                    </div>
                   
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                    <!-- MAIN IMAGE -->
                    <div data-bgposition="center top" data-bgfit="contain" >
                        <img class="tp-bgimg defaultimg" alt="" src="/assets/images/slider/slide_3.png" data-src="/assets/images/slider/slide_3.png">
                    </div>
                    
                    
                </li>
            </ul>
        </div>
                    
    </div><!-- END REVOLUTION SLIDER -->        
</section>
