<section class="fullwidth_section no_padding_container dark_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                <div class="sc_section sc_tabs_section style_3">
                                    <div id="sc_tabs_1" class="sc_tabs sc_tabs_style_3" data-active="0">
                                        <div class="sc_tabs_wrap_first">
                                            <div class="sc_tabs_wrap">
                                                <div class="sc_tabs_top">
                                                    <h4 class="subtitle">RootsTrade</h4>
                                                    <h2 class="title">Nuestros<br>Servicios</h2>
                                                   
                                                </div>
                                                <ul class="sc_tabs_titles" role="tablist">
                                                    <li class="sc_tabs_title" role="tab" tabindex="0" aria-controls="sc_tab_1" aria-labelledby="sc_tab_1_tab" aria-selected="true" aria-expanded="true">
                                                        <a href="#sc_tab_1" class="theme_button ui-tabs-anchor" id="sc_tab_1_tab" tabindex="-1">TRANSPORTE
                                                            <span class="icon-right11"></span>
                                                        </a>
                                                    </li>
                                                    <li class="sc_tabs_title" role="tab" tabindex="-1" aria-controls="sc_tab_2" aria-labelledby="sc_tab_2_tab" aria-selected="false" aria-expanded="false">
                                                        <a href="#sc_tab_2" class="theme_button ui-tabs-anchor" id="sc_tab_2_tab" tabindex="-1">LOGÍSTICA
                                                            <span class="icon-right11"></span>
                                                        </a>
                                                    </li>
                                                    <li class="sc_tabs_title last ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="sc_tab_3" aria-labelledby="sc_tab_3_tab" aria-selected="false" aria-expanded="false">
                                                        <a href="#sc_tab_3" class="theme_button ui-tabs-anchor" id="sc_tab_3_tab" tabindex="-1">ASESORAMIENTO
                                                            <span class="icon-right11"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div> 
                                            <div id="sc_tab_1" class="sc_tabs_content" aria-labelledby="sc_tab_1_tab" role="tabpanel" aria-hidden="false" style="display: block;">
                                                <p>En <b>Roots Trade</b> buscamos un alto grado de integración con nuestros clientes para poder diseñar un servicio hecho a la medida de su negocio.</p>
                                                <p>Nuestros servicios a la cadena de suministro están divididos en Transporte, Logística y Gestión de compras. <b>Conoce más de nuestros servicios:</b></p>
                                                <div class="sc_skills sc_skills_bar3 sc_skills_vertical" data-type="bar3" data-subtitle="Skills" data-dir="vertical">
                                                    <div class="columns_wrap sc_skills_columns sc_skills_columns_5">
                                                        <div class="sc_skills_column col-sm-2 col-xs-2">
                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                <div class="sc_skills_icon">
                                                                    <span class="icon-plane-2"></span>
                                                                </div> 
                                                                <div class="sc_skills_total width_icon" data-start="0" data-stop="99" data-step="1" data-max="100" data-speed="31" data-duration="3069" data-ed="%"></div>
                                                                <div class="sc_skills_count"></div> 
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Aéreo</div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="sc_skills_column col-sm-2 col-xs-2">
                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                <div class="sc_skills_icon">
                                                                    <span class="icon-ship-2"></span>
                                                                </div> 
                                                                <div class="sc_skills_total width_icon" data-start="0" data-stop="90" data-step="1" data-max="100" data-speed="13" data-duration="1170" data-ed="%"></div>
                                                                <div class="sc_skills_count"></div> 
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Maritimo<br>FLC & LCL</div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="sc_skills_column col-sm-2 col-xs-2">
                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                <div class="sc_skills_icon">
                                                                    <span class="icon-truck-2"></span>
                                                                </div> 
                                                                <div class="sc_skills_total width_icon" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="15" data-duration="1470" data-ed="%"></div>
                                                                <div class="sc_skills_count"></div> 
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Terrestre</div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="sc_skills_column col-sm-2 col-xs-2">
                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                <div class="sc_skills_icon">
                                                                    <span class="icon-cargo"></span>
                                                                </div> 
                                                                <div class="sc_skills_total width_icon" data-start="0" data-stop="86" data-step="1" data-max="100" data-speed="11" data-duration="946" data-ed="%"></div>
                                                                <div class="sc_skills_count"></div> 
                                                                <div class="sc_skills_info">
                                                                    <div class="sc_skills_label">Courrier</div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="sc_tab_2" class="sc_tabs_content" aria-labelledby="sc_tab_2_tab" role="tabpanel" aria-hidden="true">

                                                <p><b>SEGUROS DE CARGA</b><br>Trabajamos todos nuestros embarques con cobertura para transporte intermodal hasta el lugar de entrega.</p>
                                                <p><b>ALMACENAJE</b><br>Contamos con bodegas para almacenar todo tipo de cargas, realizar trasvasijes, paletizado, consolidación y desconsolidación de contenedores.</p>
                                                <p><b>AGENCIAMIENTO DE ADUANA</b><br>Trabajamos con las mejores Agencia de Aduana del país cubriendo los principales puertos de Chile y el Aeropuerto AMB. Somos expertos en salidas e ingresos temporales y nos encargamos de toda la documentación que exige el Servicio Nacional de Aduanas.</p>
                                                <div class="sc_section aligncenter">
                                                    <figure class="sc_image  sc_image_shape_square">
                                                        <img src="assets/images/packaging.png" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                            <div id="sc_tab_3" class="sc_tabs_content" aria-labelledby="sc_tab_3_tab" role="tabpanel" aria-hidden="true">
                                                <p><b>ADMINISTRACIÓN DE CONTRATOS</b><br>Administramos toda la cadena lógistica de su contrato de abastecimiento siendo capaces de gestionar procesos de cotización de transporte, activar órdenes de compra, monitorear cargas y generar reportes que agreguen valor a nuestros clientes.</p>
                                                <br><br>
                                                <p><b>PARTNET EN CHINA</b><br>A travéz de nuestra oficina en China ofrecemos los servicios de:</p>
                                                <div class="columns_wrap sc_columns sc_columns_count_2">
                                                    <div class="col-sm-6 sc_column_item">
                                                        <ul class="sc_list sc_list_style_iconed">
                                                            <li class="sc_list_item">
                                                                <span class="sc_list_icon icon-ok"></span>
                                                                Verificación de fábrica
                                                            </li>
                                                            <li class="sc_list_item">
                                                                <span class="sc_list_icon icon-ok"></span>
                                                                Búsqueda de proveedores
                                                            </li>
                                                        </ul>
                                                    </div> 
                                                    <div class="col-sm-6 sc_column_item">
                                                        <ul class="sc_list sc_list_style_iconed">
                                                            <li class="sc_list_item">
                                                                <span class="sc_list_icon icon-ok"></span>
                                                                Control de calidad
                                                            </li>
                                                            <li class="sc_list_item">
                                                                <span class="sc_list_icon icon-ok"></span>
                                                                Inspección pre-embarque
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</section>
