/* You can add global styles to this file, and also import other style files */


// Mixins

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}


// Variables

// Media Queries

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;



.menu_main_wrap .logo_main {
    height: auto;
}


  

 .menu_main_wrap {
    background: rgb(3,0,193);
background: linear-gradient(0deg, rgba(1,1,1,0) 0%, rgba(1,1,1,.8) 70%, rgba(1,1,1,1) 100%); 
transition: all .3s ease-out;   
     &.logo_left {

     }
     &.menu_show {

     }
 }

 .top_panel_fixed.top_panel_opacity_transparent .top_panel_wrap {
     background-color: rgba(255, 255, 255, 0);
 }

 .tp-revslider-slidesli {
     transition: all .3s ease-out;
 }
