<!--FOOTER-->
<section class="copyright_wrap fullwidth_section dark_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <p>ROOTSTRADE © 2021 Todos los derechos reservados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
